<template>
	<div @click="rememberCaserne()" >
	<a href='#'>
		<div class="p-2 m-3 bg-light rounded"  >
			<div class="col-12 col-sm-10 col-md-8 mx-auto">
					<h3 >{{caserne.nom}}</h3>
					<p class=" mb-2 ">{{caserne.adresse}}</p>
			</div>
		</div>
	</a>
</div>
</template>
<script >
    import axios from 'axios'
    import moment from 'moment'
    import VLink from './VLink.vue'
  	
	export default {
	  	props : {
	  		caserne : Object,
	  	},
	  	components : {
  			VLink,
  		},
      data : function(){
        return {
          href : window.location.pathname,
        }
      },
  		methods : {
  			rememberCaserne : function(){
  				localStorage.Caserne = this.caserne.id;
  				window.location.pathname === this.href? '' : window.location.pathname = this.href;
  			}
  		},
      mounted : function(){
        var location = window.location.pathname.slice(1);
        location === "GestionCaserne"? this.href= '/GestionEquipe': this.href= '/MesPosts'
        var regEx = new RegExp('\/?Utilisateur/[0-9]+\/?$')
        regEx.test(location)? this.href='/'+location : '';
      }
  	}
 </script>