<template>
	<div @click="rememberEquipe()" >
	<a href='#'>
		<div class="p-2 m-3 bg-light rounded"  >
			<div class="col-12 col-sm-10 col-md-8 mx-auto">
					<h3 >Equipe {{equipe.numero}}</h3>
			</div>
		</div>
	</a>
</div>
</template>
<script >
    import axios from 'axios'
    import moment from 'moment'
    import VLink from './VLink.vue'
  	
	export default {
	  	props : {
	  		equipe : Object,
	  	},
	  	components : {
  			VLink,
  		},
       data : function(){
        return {
          href : window.location.pathname,
        }
      },
  		computed : {
  			 location : function(){
		        return window.location.pathname.slice(1);
		      },
  		},
  		methods : {
  			rememberEquipe : function(){
  				localStorage.Equipe = this.equipe.id;
            window.location.pathname = this.href;

  			}
  		},
      mounted : function(){
         this.location === "GestionEquipe"? this.href= '/GestionMembre': this.href=window.location.pathname
            var regEx = new RegExp('\/?Utilisateur/[0-9]+\/?$')
            regEx.test(this.location)? this.href=window.location.pathname: '';
      }
  	}
 </script>