<template>
	<div class="row m-2 mt-3 p-1 bg-light rounded commentaire">
		<p class="col-6 text-left">{{commentaire.User.nom}} {{User.prenom}} </p><p class="col-6 text-right"> {{date}}</p>
		<p class="text-truncate texte">{{commentaire.texte}}</p>
	</div>

</template>
<script >
import axios from 'axios'
import moment from 'moment'

export default {
		props : {
		commentaire : Object,
		},
		data : function(){
			return {
			 User :{
				 prenom : "nom",
			 }
			}
		},
	computed: {
		date: function () {
			return moment(this.commentaire.created_at).locale('fr').format("DD/MM HH:MM")
		},
	},
	

}
</script>
<style scoped>
*{
	font-size : 14px !important;
}
.texte{
	font-size : 16px !important;
}
</style>