<template>
	<div class="col-md-10 ml-auto mb-3" >
		<h5 >{{User.nom}} {{User.prenom}} 
		<small>de {{horaireDebut}} à {{horaireFin}} </small></h5>
	</div>
</template>
<script type="text/javascript">
	
	import axios from 'axios'
	import moment from 'moment'

	export default {
			props : {
			reponse : Object,
			},
			data : function(){
				return {
					User : {},
					message : "",
					infoUser :localStorage.user ?JSON.parse(localStorage.user) :"",
					token : localStorage.token? localStorage.token: sessionStorage.token,
				}
			},
		computed: {
			horaireDebut: function(){
	      return moment(this.reponse.horaire_debut).format("HH:mm")
	    },
		    horaireFin: function(){
		      return moment(this.reponse.horaire_fin).format("HH:mm")
		    },
		},
		mounted : function(){
			axios.get(`http://localhost:8000/user/` +this.reponse.Users_id+`?access_token=`+this.token )
				.then(response => {

					if(response.data == "erreur"){
						this.message ="erreur";
					}else{
						this.User= response.data
						
					}
				})
			},

	}
</script>
