/* eslint-disable */
<template>
<div class="col-10 col-md-8 mx-auto bg-light rounded p-2 p-md-3 my-3" >
	<v-link :href="location === 'MesPosts' ? MesPosts : LesRemplacements" >
		<div class="col-12 col-sm-10 col-md-6 mx-auto">
				<p class="mb-md-3 mb-1 ">{{post.User.nom}} {{post.User.prenom}}</p>
				<p class="mb-md-3 mb-1 ">Pour le <span :class="post.Sujets_id == 2 ? 'text-blue' : 'text-purple'">{{date}}</span></p>
				<p class="m-0 ">de <span :class="post.Sujets_id ===2 ? 'text-blue' : 'text-purple'">{{horaireDebut}}</span> à <span :class="post.Sujets_id ===2 ? 'text-blue' : 'text-purple'">{{horaireFin}}</span></p>
				<p v-if="canReplaceGrade === false" class="text-secondary mt-2">grade trop elevé</p>
		</div>
		<p>{{canReplaceAptitudes }}</p>
		<div class="notification bg-red rounded-circle d-inline-block " v-if="notificationLength > 0"><p>{{notificationLength}}</p></div>
	</v-link>
</div>

</template>
<script >
		import axios from 'axios'
		import moment from 'moment'
		import VLink from './VLink.vue'
		
	 export default {
		props : {
			post : Object,
		},
		components : {
			VLink,
		},
		data : function(){
			return {
			 MesPosts : "/MesPosts/"+this.post.id+"/DetailPost",
			 LesRemplacements : "/LesRemplacements/"+this.post.id+"/DetailPost",
			 notification: [],
			 infoUser :localStorage.user ?JSON.parse(localStorage.user) :"",
			 gardes : [],
			 Post : this.post,
			 Caserne_id : localStorage.Caserne,
			 token : localStorage.token? localStorage.token: sessionStorage.token,
			 
			}
		},
		computed: {
			date: function () {
				console.log(this.$root);
				return moment(this.post.horaire_debut).locale('fr').format("dddd D MMMM")
			
			},
			horaireDebut: function(){
				return moment(this.post.horaire_debut).format("HH:mm")
			},
			horaireFin: function(){
				return moment(this.post.horaire_fin).format("HH:mm")
			},
			location : function(){
				return window.location.pathname.slice(1);
			},
			notificationLength : function(){
				return this.notification.length
			},
			canReplaceGrade : function(){
				if(!(this.post.User.length === 0)){
					console.log(this.post.Sujets.nom)
					console.log(this.infoUser.Grade.grade)
					console.log(this.post.User.Grade.grade)
					if(this.post.Sujets.nom ==="Demande de remplacement"){
						if(this.infoUser.Grade.grade<=this.post.User.Grade.grade){
							return true;
						}else{
							return false;
						}
					}else{
						if(this.infoUser.Grade.grade>=this.post.User.Grade.grade){
							return true;
						}else{
							return false;
						}
					}

				}
			},
			canReplaceAptitudes : function(){
	 
				console.log(`http://localhost:8000/user/`+this.post.Users_id+`/equipe?Casernes_id=`+this.Caserne_id+`&access_token=`+this.token)
				axios.get(`http://localhost:8000/user/`+this.post.Users_id+`/equipe?Casernes_id=`+this.Caserne_id+`&access_token=`+this.token)
				.then(response => {

					if(response.data == "erreur"){
						this.message ="erreur";
					}else{
						this.Post.User.eqiupe = response.data[0];
						return response.data[0];
					}
					})
				},
			},

	created : function(){
		if (window.location.pathname.slice(1)=="MesPosts"){
			axios.get(`http://localhost:8000/post/` +this.post.id +`/notif?access_token=`+this.token)
			.then(response => {

				if(response.data == "erreur"){
					this.message ="erreur";
				}else{
					this.notification = response.data;
				}
			})
		}
	},
		

	 
	}
</script>
<style>
.notification{
		position: absolute;
		right: 0;
		width: 30px;
		height: 30px;
		line-height: 30px;
		margin-right: -1rem;
	}
</style>