*{
	margin: 0;
	padding: 0;
	color: #000,
}


body{
	background: #161747;
}

header{
	height: 250px;
}

header img{
	max-height: 100px;
	max-width:100px;
}

nav.fixed {
	position:fixed;
	width:100%;
	top:0;
	left:0;
	z-index: 10;
}

.bloc {
	background: #E5E5E5;
	border-radius: 5px;
}

.bg-red{
	background: #B40000;
	color: #fff;
}

.text-red{
	color:#B40000;
}

.btnActive{
	background: yellow; 
}



.pt-nav{
	padding-top: 70px; 
}

.pt-scroll{
	padding-top: 370px !important; 
}	

ul.navbar-nav {
	position: fixed;
	top:0px;
	left: 0;
	height: 100vh;
	width: 150px
	
}
nav div.bg-red{
	z-index: 2;
}



#separationMenu {
	height: 5px;
	background: #fff;
	padding: 50px 0;
}

.margin-left{
	margin-left: 150px;
}

.text-blue{
	color : #3C91E6;
}

.text-purple{
	color : #BD2D87;
}

footer{
	height: 100px;
}

@media (max-width: 576px) {
	h1 {
		font-size: 24px;
	}

	header{
	height: 150px;
	}

	header img{
		max-height: 80px;
		max-width:80px;
	}


	.pt-nav{
		padding-top: 35px; 
	}



	.navbar-toggler-icon{
		height: 25px;
	}
	#separationMenu {
	margin: 30px 0;
	}

	.margin-left{
	margin-left: 130px;
	}

	ul.navbar-nav {
	width: 130px
	}
	nav.fixed {
	position:relative;
	width:100%;
	top:0;
	left:0;
	z-index: 10;
}

}