<template>
	<app-layout :token="token" >
		<div id="login" v-if="!token">
			<form class=" col-md-6 col-10 mx-auto m-5">
			  <div class="form-group">
			    <label for="exampleInputEmail1"  class="text-white mt-3 mb-2">Email address</label>
			    <input type="email" v-model="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
			  
			  </div>
			  <div class="form-group">
			    <label for="exampleInputPassword1"  class="text-white mt-3 mb-2">Password</label>
			    <input type="password" v-model="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
			  </div>
        <div class="form-check my-3">
                <input type="checkbox" class="form-check-input" id="exampleCheck1"   v-model="remember">
                <label class="form-check-label" for="exampleCheck1">Se souvenir de moi </label>
              </div>
			 <p>{{message}}</p>
			  <div class="btn col-12 my-5 btn-secondary text-black" @click="login" >connexion</div>
			</form>
		</div>
		<div  v-if="token" class="  col-md-6 col-10 mx-auto m-5 text-left">
			<h1>Caserne</h1>
			<caserne-block 

			v-for="caserne in casernes" 
			:caserne="caserne"
			:key="caserne.id"

			>
				
			</caserne-block>
      <div v-if="infoUser">
  			<v-link v-if="infoUser.Profils_id ===1" href="GestionCaserne"><h2 class="mt-5 text-black" >Gestion caserne</h2></v-link>
        <v-link v-if="infoUser.Profils_id ===2" href="GestionCaserne"><h2 class="mt-5 text-black" >Gestion Equipe</h2></v-link>
        <v-link v-if="infoUser.Profils_id ===3 " href="GestionCaserne"><h2 class="mt-5 text-black" >Gestion Membre</h2></v-link>
        	<v-link v-if="infoUser.Profils_id ===1" href="GestionUtilisateur"><h2 class="mt-5 text-black" >Gestion Utilisateur</h2></v-link>
      </div>
		</div>
 	</app-layout>
</template>

<script>
   import AppLayout from '../App.vue'
   import axios from 'axios'
   import caserneBlock from '../components/caserneBlock'
     import VLink from '../components/VLink.vue'

  export default {
    components: {
      AppLayout,
      caserneBlock,
      VLink,
    },
  
    data : function() {
    	return {
    		email : "",
    		password : "",
    		token : localStorage.token? localStorage.token: sessionStorage.token,
    		casernes : [],
        message : "",
        remember: false,
        infoUser :localStorage.user ?JSON.parse(localStorage.user) :"",
    	}
    },
    computed : {
  		notificationLength : function(){
  			return this.notification.length
  		}
    },
    methods : {
    	login : function(){
    		console.log("login")
    		axios.post(`http://localhost:8000/login?email=` +this.email.replace(/\s/g,"")+`
    		 &mdp=`+this.password.replace(/\s/g,""))
          .then(response => {

            if(response.data == "erreur"){
              this.message ="erreur";
            }else{
              console.log(response.data)
              this.token = response.data;
              console.log("log")
              if (this.remember){
                  localStorage.remember = true;
                  localStorage.token = this.token
                }else{
                  localStorage.remember = false;
                  sessionStorage.token = this.token;
                }
              
              window.location.reload(false)
            }
          })
    	},
        
    },
    mounted : function(){
    	if (localStorage.token || sessionStorage.token){
    		axios.get(`http://localhost:8000/casernes/user?access_token=` +this.token)
          .then(response => {
            console.log(response)

            if(response.data == "erreur"){
              this.message ="erreur";
            }else{
              this.casernes = response.data;
            }
          })
    	}
    }
  }
</script>
<style>
	.text-black{
		color : #000;
	}
</style>