/* eslint-disable */
<template>
	<app-layout :infoUser="infoUser" >
		<p v-if="message" class="text-center text-white my-md-5 my-3 mx-auto bg-error  col-6 p-1 border">{{message}}</p> 
		<div class="col-10 col-md-8 mx-auto bg-light rounded p-2 p-md-3 py-4 my-3">
			<div class="col-12 col-md-8 mx-auto text-size mb-3">
				<div class="text-left m-md-5">
					<h2 class="mb-md-3 mb-1" >{{post.User.nom}} {{post.User.prenom}}</h2>
					<p class="mb-md-3 mb-1">grade : <span :class="post.Sujets.nom == 'demande de remplacement' ? 'text-blue' : 'text-purple'">{{post.User.Grade.nom}}</span></p> 
					<p class="mb-md-3 mb-1">date : <span :class="post.Sujets.nom == 'demande de remplacement' ? 'text-blue' : 'text-purple'">{{date}}</span></p><input type="text" v-show="isEditing" v-model="updates.date"> <p class="mb-md-3 mb-1">Horaire debut : <span :class="post.Sujets.nom == 'demande de remplacement' ? 'text-blue' : 'text-purple'">{{horaire_debut}}</span></p><input type="text" v-show="isEditing" v-model="updates.horaire_debut">
					<p> Horaire fin : <span :class="post.Sujets.nom == 'demande de remplacement' ? 'text-blue' : 'text-purple'">{{horaire_fin}}</span></p><input type="text" v-show="isEditing" v-model="updates.horaire_fin">
					<p>Date d'ajout : <span :class="post.Sujets.nom == 'demande de remplacement' ? 'text-blue' : 'text-purple'"> {{created_at}}</span></p>
					<button v-show="isEditing" class="btn col-md-5 mx-md-3 mx-auto my-3 bg-secondary" @click="update"> valider</button>
					<div v-if="post.Posts_has_Responses.length ">
						<p>Repondu par</p>
						<post-reponse v-for="reponse in post.Posts_has_Responses"  v-bind:reponse="reponse" v-bind:key="reponse.id">
						</post-reponse>
					</div>
				</div>
				<div v-if="post.Commentaires.length" class="bg-secondary p-2 rounded">
					<h2 class="text-center ">Commentaire</h2>
						<post-commentaire v-for="commentaire in post.Commentaires" v-bind:commentaire="commentaire" v-bind:key="commentaire.id"></post-commentaire>
				</div>
			</div>
			<button v-if="location == 'L'" class="btn text-light col-md-5 mx-md-3 mx-auto my-3" :class="post.Sujets.nom ==='demande de remplacement' ? 'bg-blue' : 'bg-purple'" data-toggle="modal" data-target="#reponseModal" :disabled=" canReplace? false : true" @click="showModal('reponseModal')">repondre</button>
			<button v-if="location == 'M'" class="btn  col-md-5 mx-md-3 mx-auto my-3 bg-red"  data-toggle="modal" data-target="#suppressionModal" @click="showModal('suppressionModal')">Supprimer</button>
			<button v-if="location == 'M'" class="btn  col-md-5 mx-md-3 mx-auto my-3 bg-red" @click="isEditingfct()" >Modifier</button>
			<button class="btn text-white col-md-5 mx-md-3 mx-auto my-3" :class="post.Sujets.nom ==='demande de remplacement' ? 'bg-blue' : 'bg-purple'"  data-toggle="modal" data-target="#commentaireModal" @click="showModal('commentaireModal')">ajouter commentaire</button> 
			


		
		<!-- Modal Commentaire -->
		<div class="modal fade" id="commentaireModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Ecrire un commentaire</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label>Commentaire</label>
							<textarea  v-model="commentaire" class="form-control" row ="3"></textarea>
							<button type="button" class="btn btn-primary m-3" @click="saveCommentaire()" data-dismiss="modal" aria-label="Close">valider</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal Suppression -->
		<div class="modal fade" id="suppressionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Suppression</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
							<h2 class="text-center">Voulez vous vraiment supprimer ce posts ?</h2>
							<button type="button" class="btn btn-primary m-3" @click="suppression" data-dismiss="modal" aria-label="Close">valider</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal Repondre -->
		<div class="modal fade" id="reponseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Répondre</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
							<div class="row ">
								<p class="mt-md-3 mb-3 text-center col-12"> Horraire </p>
								<div class="col-6">
										
										
									<div class="form-group ">					
										<div class="form-group">
										    <label for="time" class="px-3" >debut</label>
										    <input v-model="reponse.horaire_debut" type="text" class="form-control" id="timeD" >
										</div>
									</div>
								</div>
								<div class="col-6">						
									<div class="form-group">
										<div class="form-group">
										    <label for="time" class="px-3 text-right col-12" >fin</label>
										    <input v-model="reponse.horaire_fin" type="text" class="form-control" id="timeF" >
										</div>
									</div>
								</div>
							</div>
						</div>
							<button type="button" class="btn btn-primary m-3" @click="repondre" data-dismiss="modal" aria-label="Close">valider</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		</div>

  <button class="btn btn-secondary col-6 mx-auto" @click="prevPage">Retour</button> 
	</app-layout>
</template>
<script >
	import axios from 'axios'
  	import moment from 'moment'
  	import VLink from '../components/VLink.vue'
  	import AppLayout from '../App.vue'
  	import postCommentaire from '../components/postCommentaire.vue'
  	import postReponse from '../components/postReponse.vue'
  	
	 export default {
	 	components : {
	 		AppLayout,
	 		postCommentaire,
	 		postReponse,
	 	},
	data : function(){
		return {
			infoUser :localStorage.user ?JSON.parse(localStorage.user) :"",
			post : {},
			commentaire : "",
			reponse: {
				horaire_debut: "HH:MM",
				horaire_fin : "HH:MM"
			},
			isEditing : false,
			updates : {
				date : "dd/mm/aaaa",
				horaire_debut : "HH:MM",
				horaire_fin : "HH:MM",
			},
			token : localStorage.token? localStorage.token: sessionStorage.token,
			message : "",
		}
	},
   computed: {
    date: function () {
    	return moment(this.post.horaire_debut).locale('fr').format("dddd D MMMM")
      },
    horaire_debut: function(){
      return moment(this.post.horaire_debut).format("HH:mm")
    },
    horaire_fin: function(){
      return moment(this.post.horaire_fin).format("HH:mm")
    },
    created_at: function () {
		return moment(this.post.created_at).locale('fr').format("DD/MM/YYYY, HH[h]mm")
	},
     location : function(){
		return window.location.pathname[1];
	},

	canReplace : function(){
        if(!(this.post.User.length === 0)){
			if(this.post.Sujets.nom ==="Demande de remplacement"){
				if(this.infoUser.Grade.grade<=this.post.User.Grade.grade){
					return true;
				}else{
					return false;
				}
			}else{
				if(this.infoUser.Grade.grade>=this.post.User.Grade.grade){
					return true;
				}else{
					return false;
				}
			}
		}
	},
		
},

	methods : {
	prevPage : function(){
		window.history.go(-1)
	},
	saveCommentaire : function(){
		var currentedate = moment().locale('fr').format("YYYY-M-D HH:mm");
		var regexp = new RegExp (/[0-9]+/)
		var postId =regexp.exec( window.location.pathname)[0];
		console.log(this.infoUser.id);
		
		axios.post(`http://localhost:8000/post/` +postId +`/commentaire?access_token=` +this.token
			+`&commentaire=`+this.commentaire)
		.then(response => {
			if(response.data == "erreur"){
				this.message ="erreur";

			}
			axios.post(`http://localhost:8000/post/` +postId +`/notif?access_token=` +this.token+
				`&type=commentaire`
			+`&Users_id=`+this.post.User.id);
		axios.get(`http://localhost:8000/post/` +postId +`/detailPost?access_token=` +this.token)
		.then(response => {

			if(response.data == "erreur"){
				this.message ="erreur";
			}else{
				this.post = response.data[0];
			}
		});
		})
		
	},
	suppression : function(){
		var regexp = new RegExp (/[0-9]+/)
		var postId =regexp.exec( window.location.pathname)[0];
		console.log("suppression")
		console.log(`http://localhost:8000/post/` +postId+`?access_token=` +this.token)
		axios.delete(`http://localhost:8000/post/` +postId+`?access_token=` +this.token )
		.then(response => {
			if(response.data == "erreur"){
				this.message ="erreur";
			}
			window.history.go(-1)
		})
	},

	verifyDate: function(date){

    		var regExp = new RegExp(/^[0-9]{1,2}[\:\-\/ ][0-9]{1,2}[:\-\/ ]{0,1}[0-9]{0,4}/);
    		if (regExp.test(date)){
    			var re = new RegExp (/[:\-\/ ]/)
	    		date = date.split(re);
	    		var jour = date[0];
	    		var mois = date[1];
	    		var annee = date[2];

	    		if(jour>31 || jour<0){
	    			return false
	    		}
	    		if (mois>12 || mois<0){
	    			return false
	    		}
				if  (annee.length == 1 || annee.length == 3 ){
	    			return false
	    		}

    			return true
    		
    		}else{
    			return false
    		}
    	},

	verifyTime: function(time){
    		var regExp = new RegExp(/^[0-9]{1,2}[\:hH\-\/ ][0-9]{1,2}/);
    		if (regExp.test(time)){
    			return true
    		}else{
    			return false
    		}
    	},

	convertDate :function (date, time){

		var regExp = new RegExp (/[\:hH\-\/ ]/)
		date = date.split(regExp);
		var jour = date[0];
		var mois = date[1];
		var annee = date[2];
		if (annee.length == 2){
			annee = "20" + annee 
		}

		var date = annee +"-"+ mois +"-"+jour;

		time = time.split(regExp);

		if(time[0].length == 1){
			time[0] = "0" + time[0]
		}
		if(time[1].length == 1){
			time[1] = "0" + time[1]
		}
		time = time[0]+":"+time[1]+":00"

		var datetime = date + " " + time
		return datetime

	},

    cheackExistingResponse: function(debut, fin){
    	var notexiste = true;

    	debut = moment(debut).locale('fr').format("Unix Timestamp");
    	fin = moment(fin).locale('fr').format("Unix Timestamp");

    	for (var i = 0; i < this.post.Posts_has_Responses.length; i++) {
    		var postD = moment(this.post.Posts_has_Responses[i].horaire_debut).locale('fr').format("Unix Timestamp") ;
    		var postF = moment(this.post.Posts_has_Responses[i].horaire_fin).locale('fr').format("Unix Timestamp");
    		console.log (debut>= postD && debut< postF);
    		console.log (fin > postD&& fin<= postF);
    		if((debut>= postD && debut< postF )|| (fin > postD&& fin<= postF)){
    			 notexiste = false;
    			 console.log("find");
    			break;
    		}

    		
    	}
    	return notexiste;

    },

	repondre : function(){
		if(!this.verifyTime(this.reponse.horaire_debut)){
			console.log("erreur")
			this.message ="mauvais format d'horaire "
			return "erreur"
		};
		if(!this.verifyTime(this.reponse.horaire_fin)){
			console.log("erreur")
			this.message ="mauvais format d'horaire "
			return "erreur"
		};
		this.reponse.horaire_debut=this.convertDate(moment(this.post.horaire_debut).locale('fr').format("DD/MM/YYYY"), this.reponse.horaire_debut);
		this.reponse.horaire_fin=this.convertDate(moment(this.post.horaire_debut).locale('fr').format("DD/MM/YYYY"), this.reponse.horaire_fin);

		if (moment(this.reponse.horaire_debut).locale('fr').format("Unix Timestamp")>moment(this.reponse.horaire_fin).locale('fr').format("Unix Timestamp")){
	       	this.message ="l'horaire de debut ne peut pas etre plus grande que l'horaire de fin"
				return "erreur"
			}

		if(moment(this.reponse.horaire_debut).locale('fr').format("Unix Timestamp")<moment(this.post.horaire_debut).locale('fr').format("Unix Timestamp") || moment(this.reponse.horaire_fin).locale('fr').format("Unix Timestamp")>moment(this.post.horaire_fin).locale('fr').format("Unix Timestamp")){
			this.message = "les horaires indique ne corressopnde pas avec les horaires du post"
			return "erreur"
		}

		if(!this.cheackExistingResponse(this.reponse.horaire_debut, this.reponse.horaire_fin)){
			this.message = "Une réponse existe déja sur ces horaires"
			return "erreur"
		}

		var regexp = new RegExp (/[0-9]+/)
		var postId =regexp.exec( window.location.pathname)[0];
		axios.post(`http://localhost:8000/post/` +postId+`/repondre?access_token=` +this.token+
			`&UserId=`+this.infoUser.id+
			`&horaire_debut=`+this.reponse.horaire_debut+
			`&horaire_fin=`+this.reponse.horaire_fin )
		.then(response => {
			if(response.data == "erreur"){
				this.message ="erreur";
			}else{
				this.message ="envoyé !";
				this.reponse.Users_id=this.infoUser.id;
				this.post.Posts_has_Responses.push(this.reponse);
				this.reponse= {
				horaire_debut: "HH:MM",
				horaire_fin : "HH:MM"
				}
				axios.post(`http://localhost:8000/post/` +postId +`/notif?access_token=` +this.token+
					`&type=reponse`+
					`&Users_id=`+this.post.User.id);

			}
		})
	},
	update : function(){
		console.log("ok")
		var date = moment().locale('fr').format("YYYY-M-D HH:mm");
		if(!this.verifyDate(this.updates.date)){
	      	console.log("erreur")
	      	this.message ="mauvais format de date"
	      	
	      	return "erreur"
	      }
	       if(! this.verifyTime(this.updates.horaire_debut) ){
	       	console.log("erreur")
	       	this.message ="mauvais format de horaire debut"
	       	
	      	return "erreur"
	      }
	       if(!this.verifyTime(this.updates.horaire_fin)){
	       	console.log("erreur")
	       	this.message ="mauvais format de horaire debut"
	       	
	      	return "erreur"
	      }
	     
	      
	      // changement du format date 
	      this.updates.horaire_debut = this.convertDate(this.updates.date,this.updates.horaire_debut )
	      this.updates.horaire_fin  =this.convertDate(this.updates.date,this.updates.horaire_fin )
			if (moment(this.updates.horaire_debut).locale('fr').format("Unix Timestamp")>moment(this.updates.horaire_fin).locale('fr').format("Unix Timestamp")){
	       	this.message ="la date de debut ne peut pas etre plus grande que la date de fin"
	       	
				return "erreur"
			}

		var regexp = new RegExp (/[0-9]+/)
		var postId =regexp.exec( window.location.pathname)[0];
		axios.put(`http://localhost:8000/post/` +postId+`/update?access_token=` +this.token+
			`&horaire_debut=`+this.updates.horaire_debut+`
			&horaire_fin=`+this.updates.horaire_fin+`
			&date=`+date )
		.then(response => {
			if(response.data == "erreur"){
				this.message ="erreur";
			}else{
				this.message ="modifié !";
				this.isEditing = false;
				location.reload(false);
				
			}
		})
	},
	showModal: function(modal){
		$('#'+modal).modal({show: true});
	},

	isEditingfct : function(){
		
		this.updates.date = moment(this.post.horaire_debut).locale('fr').format("D/MM/YY");
		this.updates.horaire_debut = moment(this.post.horaire_debut).locale('fr').format("HH:mm");
		this.updates.horaire_fin = moment(this.post.horaire_fin).locale('fr').format("HH:mm");
		console.log(this.update.date)
		this.isEditing = true;
	}
	
  },
  created : function(){
  		var regexp = new RegExp (/[0-9]+/)
		var postId =regexp.exec( window.location.pathname)[0];
		axios.get(`http://localhost:8000/post/` +postId +`/detailPost?access_token=` +this.token)
		.then(response => {

			if(response.data == "erreur"){
				this.message ="erreur";
			}else{
				this.post = response.data[0];
				console.log(this.post)
			}
		})
	},

 mounted : function(){
 	 if (this.location==="M"){
 	var regexp = new RegExp (/[0-9]+/)
		var postId =regexp.exec( window.location.pathname)[0];
		console.log(`http://localhost:8000/post/` +postId +`/notif?access_token=` +this.token)
 	axios.delete(`http://localhost:8000/post/` +postId +`/notif?access_token=` +this.token)
 }
},
    
}
</script>
<style scoped>
.text-size{
	font-size : 20px;
}
</style>