<template>
	<app-layout>
		<h2 class="text-white text-left pl-5 my-md-5">Equipe {{equipe.numero}}</h2>
		<div
		v-for="user in Users"
		>
			<div class="p-2 m-3 bg-light rounded"  >
				<div class="col-12 col-sm-10 col-md-8 mx-auto">
					<p>{{user.nom}} {{user.prenom}}</p>
				</div>
			</div>
		</div>
		<h2 class="text-white text-left p-5 my-md-5">Ajouter un utilisateur<button class="btn bg-transparent ml-5 " @click="showModal('UserModal')"><i class="fas fa-plus-circle text-right text-secondary" data-toggle="modal" data-target="#UserModal" ></i></button>
			<button v-if="infoUser.Profils_id === 2||infoUser.Profils_id === 3||infoUser.Profils_id === 1"class="btn bg-transparent ml-5 " @click="showModal('EditUserModal')"><i class="fas fa-edit text-right text-secondary" data-toggle="modal" data-target="#EditUserModal" ></i></button></h2>

				 <button class="btn btn-secondary col-3 m-auto d-block" @click="prevPage">Retour</button> 

		<!-- aptitude Modal -->
		<div class="modal fade" id="aptitudeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title" id="exampleModalLabel">Ajout aptitudes</h3>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div v-for="aptitude in aptitudes">
							 <div class="form-check my-3">
								<input type="checkbox" class="form-check-input" id="exampleCheck1"   v-model="aptitude.check" @change="check(aptitude)">
								<label class="form-check-label" for="exampleCheck1">{{aptitude.nom}}</label>
							</div>
						</div>
						<button type="button" class="btn btn-primary m-3 " @click="saveUser" data-dismiss="modal" aria-label="Close">valider</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal User -->
		<div class="modal fade" id="UserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title" id="exampleModalLabel">Nouveau Utilisateur</h3>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div>
							 <div class="form-group">
								<label for="exampleInputEmail1">Nom</label>
									<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entrer un nom" v-model="newUser.nom">

								</div> 
								<div class="form-group">
									<label for="exampleInputEmail1">prenom</label>
									<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entrer un prénom" v-model="newUser.prenom">
								</div>
								<div class="form-group">
									<label for="exampleInputEmail1">e-mail</label>
									<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entrer une adresse mail" v-model="newUser.email">
								</div><div class="form-group">
									<label for="exampleInputEmail1">mot de passe</label>
									<input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entrer un mot de passe" v-model="newUser.mdp">
								</div>
								<div class="form-group">
									<label for="exampleFormControlSelect2">Profil</label>
									<select class="form-control" id="exampleFormControlSelect2" v-model="newUser.Profils_id">
										<option v-for="profil in profils" :value="profil.id" :key="profil.id"> {{profil.nom}} </option>
									</select>
								</div>
								<div class="form-group">
									<label for="exampleFormControlSelect2">Grade</label>
									<select class="form-control" v-model="newUser.Grades_id">
										<option v-for="grade in grades" :value="grade.id" :key="grade.id"> {{grade.nom}}</option>
									</select>
								</div>

								</div>
							
							<button type="button" class="btn btn-primary m-3" @click="saveUser" data-dismiss="modal" aria-label="Close">valider</button>
							<button type="button" class="btn btn-primary m-3 " @click="showModal('aptitudeModal')" data-dismiss="modal" aria-label="Close" data-toggle="modal" data-target="#aptitudeModal">Ajouter aptitudes</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Edit aptitude Modal -->
		<div class="modal fade" id="EditaptitudeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title" id="exampleModalLabel">Ajout aptitudes</h3>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div v-for="aptitude in aptitudes">
							 <div class="form-check my-3">
								<input type="checkbox" class="form-check-input" id="exampleCheck1"   v-model="aptitude.check" @change="checkEdit(aptitude)">
								<label class="form-check-label" for="exampleCheck1">{{aptitude.nom}}</label>
							</div>
						</div>
						<button type="button" class="btn btn-primary m-3 " @click="updateUser" data-dismiss="modal" aria-label="Close">valider</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal Edit User -->
		<div class="modal fade" id="EditUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title" id="exampleModalLabel">Modification Utilisateur</h3>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div>
							<div class="form-group">
								<label for="exampleFormControlSelect2">Utilisateur à modifier</label>
								<select class="form-control" v-model="EditUser.id" @change="selectUser()">
									<option v-for="User in Users" :value="User.id" :key="User.id"> {{User.nom}} {{User.prenom}}</option>
								</select>
							</div>
							 <div class="form-group">
								<label for="exampleInputEmail1">Nom</label>
									<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entrer un nom" v-model="EditUser.nom">

								</div> 
								<div class="form-group">
									<label for="exampleInputEmail1">prenom</label>
									<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entrer une adresse" v-model="EditUser.prenom">
								</div>
								<div class="form-group">
									<label for="exampleInputEmail1">e-mail</label>
									<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entrer une adresse" v-model="EditUser.email" disabled="true">
								
								<div class="form-group">
									<label for="exampleFormControlSelect2">Profil</label>
									<select class="form-control" id="exampleFormControlSelect2" v-model="EditUser.Profils_id">
										<option v-for="profil in profils" :value="profil.id" :key="profil.id"> {{profil.nom}} </option>
									</select>
								</div>
								<div class="form-group">
									<label for="exampleFormControlSelect2">Grade</label>
									<select class="form-control" v-model="EditUser.Grades_id">
										<option v-for="grade in grades" :value="grade.id" :key="grade.id"> {{grade.nom}}</option>
									</select>
								</div>

								</div>
							
							<button type="button" class="btn btn-primary m-3" @click="updateUser" data-dismiss="modal" aria-label="Close">valider</button>
							<button type="button" class="btn btn-primary m-3 " data-dismiss="modal" aria-label="Close" data-toggle="modal" data-target="#EditaptitudeModal" @click="showModal('EditaptitudeModal')">Ajouter aptitudes</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</app-layout>
</template>
<script >
	import axios from 'axios'
    import moment from 'moment'
    import AppLayout from '../App.vue'
    import equipeBlock from '../components/equipeBlock'
  	
	export default {
		components: {
	    	AppLayout,
	    	equipeBlock,
	    },
	    data: function () {
	    	return {
	    		equipe : {},
	    		newUser : {},
	    		EditUser:{},
	    		Users : [],
	    		profils:[],
  				grades:[],
  				aptitudes:[],
  				newaptitudes:[],
  				editAptitudes : [],
	    		Caserne_id : localStorage.Caserne,
	    		Equipe_id : localStorage.Equipe,
	    		token : localStorage.token? localStorage.token: sessionStorage.token,
	    		message : "",
	    		infoUser :localStorage.user ?JSON.parse(localStorage.user) :"",
	    	}
	    },
	    methods : {
	    	prevPage : function(){
				window.history.go(-1)
			},
	    	saveUser: function(){
  				axios.post(`http://localhost:8000/user?access_token=` +this.token+
  					`&nom=`+this.newUser.nom+
  					`&prenom=`+this.newUser.prenom+
  					`&email=`+this.newUser.email+
  					`&mdp=`+this.newUser.mdp+
  					`&Profils_id=`+this.newUser.Profils_id+
  					`&Grades_id=`+this.newUser.Grades_id+
  					`&avatar=images/default.png`)
				  .then(response => {

					if(response.data == "erreur"){
					  this.message ="enregistrement echouer";
					}else{
						this.newUser.id = response.data.id
						axios.post(`http://localhost:8000/users/equipe?Users_id=`+this.newUser.id
							+`&Equipes_id=`+this.Equipe_id
							+`&access_token=` +this.token)
						.then(response2 => {

				            if(response.data == "erreur"){
				              this.message ="ajout dans l'equipe echoué";
				            }else{
				               this.Users.push(this.newUser);
				            }
					 
						})
					  for (var i = 0; i < this.newaptitudes.length; i++) {
					  	var Aptitudes_id =this.newaptitudes[i].id
					  	console.log(Aptitudes_id);
						  	axios.post(`http://localhost:8000/users/aptitudes?access_token=`+this.token
						  		+`&Aptitudes_id=`+Aptitudes_id
						  		+`&Users_id=`+this.newUser.id)
					  	.then(response2 =>{
					  		if(response.data == "erreur"){
								this.message ="ajout d'aptitude echouer";
							}
					  	})
					  }

					}
				  })
  			},
  			check: function(aptitude){
  				
  				if(aptitude.check === true){
  					this.newaptitudes.push(aptitude)
  				}else{
  					var index = this.newaptitudes.indexOf(aptitude);
  					this.newaptitudes.splice(index, 1);
  				}
  			},
  			checkEdit: function(aptitude){
  				if(aptitude.check === true){
  						delete aptitude.check;
  						var index = this.editAptitudes.indexOf(aptitude);
  					if(index<0){
  						console.log("add")
  						aptitude.action= "add";
  						this.editAptitudes.push(aptitude)
  					}else if (this.editAptitudes[index].action === "delete") {
  						this.editAptitudes[index].action ="";
  						console.log("remouve delete")
  					}
  				}else{
  					delete aptitude.check;
  						var index = this.editAptitudes.indexOf(aptitude);
  						console.log(index)
  					if(index>0){
	  					
	  					if(this.editAptitudes[index].action === "add"){
	  						this.editAptitudes[index].action=""
	  						console.log("remouve add")
	  					}else{
	  						this.editAptitudes[index].action="delete";
	  						console.log("delete")
	  					}
  					}else{
  						for (var i = 0; i < this.editAptitudes.length; i++) {
  							if(this.editAptitudes[i].id === aptitude.id){
  								this.editAptitudes[i].action = "delete"
  								console.log("delete")
  							}
  						}
  						console.log("rien")
  					}
  				}
  				console.log("???")
  			},
  			selectUser: function(){
  				for (var i = 0; i < this.Users.length; i++) {
  					if(this.Users[i].id === this.EditUser.id){
  						this.EditUser.Grades_id =this.Users[i].Grades_id;
  						this.EditUser.Profils_id =this.Users[i].Profils_id;
  						this.EditUser.email =this.Users[i]['e-mail'];
  						this.EditUser.nom =this.Users[i].nom;
  						this.EditUser.prenom =this.Users[i].prenom;

  						axios.get(`http://localhost:8000/user/`+this.EditUser.id+`/aptitudes?access_token=` +this.token)
						.then(response => {

							if(response.data == "erreur"){
								this.message ="erreur";
							}else{
								this.editAptitudes = response.data;
								for (var i = 0; i < this.aptitudes.length; i++) {
									for (var j = 0; j < this.editAptitudes.length; j++) {
										if(this.editAptitudes[j].id === this.aptitudes[i].id){
											this.aptitudes[i].checkbox = true;
										}
									}
								}
							}
						})



  						break;
  					}
  				}
  			},
  			updateUser : function(){
  				axios.put(`http://localhost:8000/user/`+this.EditUser.id+`/update?access_token=` +this.token+
  					`&nom=`+this.EditUser.nom+
  					`&prenom=`+this.EditUser.prenom+
  					`&email=`+this.EditUser.email+
  					`&mdp=`+this.EditUser.mdp+
  					`&Profils_id=`+this.EditUser.Profils_id+
  					`&Grades_id=`+this.EditUser.Grades_id+
  					`&avatar=images/default.png`)
				  .then(response => {

					if(response.data == "erreur"){
					  this.message ="enregistrement echouer";
					}else{
						this.newUser.id = response.data.insertId
						

				            if(response.data == "erreur"){
				              this.message ="ajout dans l'equipe echoué";
				            }else{
				            	for (var i = 0; i < this.editAptitudes.length; i++) {
								  	var Aptitudes_id =this.editAptitudes[i].id
								  	console.log(Aptitudes_id);
								  	if(this.editAptitudes[i].action==="add"){
									  	axios.post(`http://localhost:8000/users/aptitudes?access_token=`+this.token
									  		+`&Aptitudes_id=`+Aptitudes_id
									  		+`&Users_id=`+this.EditUser.id)
								  	.then(response2 =>{
								  		if(response.data == "erreur"){
											this.message ="ajout d'aptitude echouer";
										}
								  	})
								 	}else{
								 		if(this.editAptitudes[i].action==="delete"){
									  	axios.delete(`http://localhost:8000/user/`+this.EditUser.id+`/aptitudes?access_token=`+this.token
									  		+`&Aptitudes_id=`+Aptitudes_id)
								  	.then(response2 =>{
								  		if(response.data == "erreur"){
											this.message ="suppression d'aptitude echouer";
										}
								  	})
								 	}

								  }
								  }
				            	location.reload(false)
				            }
					 
						
					  

					}
				  })
				},
				showModal: function(modal){
					$('#'+modal).modal({show: true});
				},
  		},
	    mounted : function(){
	    	axios.get(`http://localhost:8000/equipes/`+this.Equipe_id+`?access_token=` +this.token)
          .then(response => {

            if(response.data == "erreur"){
              this.message ="erreur";
            }else{
              this.equipe = response.data;
            }
          })
          axios.get(`http://localhost:8000/users/equipe/`+this.Equipe_id+`?access_token=` +this.token)
          .then(response => {

            if(response.data == "erreur"){
              this.message ="erreur";
            }else{
              this.Users = response.data;
            }
          })
           axios.get(`http://localhost:8000/users/profils?access_token=` +this.token)
          .then(response => {

            if(response.data == "erreur"){
              this.message ="erreur";
            }else{
              this.profils = response.data;
            }
          })
           axios.get(`http://localhost:8000/users/grades?access_token=` +this.token)
          .then(response => {

            if(response.data == "erreur"){
              this.message ="erreur";
            }else{
              this.grades = response.data;
            }
          })
            axios.get(`http://localhost:8000/users/aptitudes?access_token=` +this.token)
          .then(response => {

            if(response.data == "erreur"){
              this.message ="erreur";
            }else{
              this.aptitudes = response.data;
              console.log(this.aptitudes)
            }
          })
	    },
	}
</script>