<template>
	<app-layout>
		<h2 class="text-white text-left pl-5 my-md-5">Casernes<button  v-if="infoUser.Profils_id === 1" class="btn bg-transparent ml-5 " @click="showModal('CaserneModal')" ><i class="fas fa-plus-circle text-right text-secondary" data-toggle="modal" data-target="#CaserneModal" ></i></button></h2>
		<p v-if="message" class="text-center text-white my-md-5 my-3 mx-auto col-6 p-1 border">{{message}}</p> 
		<caserne-block 

			v-for="caserne in casernes" 
			:caserne="caserne"
			:key="caserne.id"

			>
				
		</caserne-block>

		<h2 class="text-white text-left p-5 my-md-5">Ajouter un utilisateur<button class="btn bg-transparent ml-5 " @click="showModal('UserModal')" ><i class="fas fa-plus-circle text-right text-secondary" data-toggle="modal" data-target="#UserModal" ></i></button></h2>

		<button v-if="infoUser.Profils_id === 2||infoUser.Profils_id === 3||infoUser.Profils_id === 1"class="btn btn-danger  float-left m-5" @click="showModal('SuppressionCaserne')">Suppression d'une Caserne</button>


		<!-- Modal SuppressionCaserne -->
		<div class="modal fade" id="SuppressionCaserne" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title" id="exampleModalLabel">Suppression d'une Caserne</h3>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div>
							<select v-model='supprCaserneId'>
								<option v-for="caserne in casernes" :key="caserne.id" :value='caserne.id'> {{caserne.nom}}</option>
							</select>
							
							
							<button type="button" class="btn btn-primary m-3 " @click="suppressionCaserne" data-dismiss="modal" aria-label="Close">valider</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal Caserne -->
		<div class="modal fade" id="CaserneModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title" id="exampleModalLabel">Nouvelle Caserne</h3>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div>
							 <div class="form-group">
								<label for="exampleInputEmail1">Nom</label>
									<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entrer un nom" v-model="caserne.nom">

								</div> 
								<div class="form-group">
									<label for="exampleInputEmail1">Adresse</label>
									<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entrer une adresse" v-model="caserne.adresse">
								</div>
								<div class="form-group">
									<label for="exampleFormControlSelect2">Responsable Caserne</label>
									<select class="form-control" id="exampleFormControlSelect2" v-model="caserne.responsable">
										<option v-for="User in Users" v-if="User.Profil.nom === 'Responsable Caserne' || User.Profil.nom === 'Responsable Equipe'|| User.Profil.nom === 'SuperAdmin'" :value="User.id" :key=User.id> {{User.nom}} {{User.prenom}}</option>
									</select>
								</div>

								</div>
							
							<button type="button" class="btn btn-primary m-3 " @click="saveCaserne" data-dismiss="modal" aria-label="Close">valider</button>
						</div>
					</div>
				</div>
			</div>

			<!-- aptitude Modal -->
		<div class="modal fade" id="aptitudeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title" id="exampleModalLabel">Ajout aptitudes</h3>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div v-for="aptitude in aptitudes" :key="aptitude.id">
							 <div class="form-check my-3">
								<input type="checkbox" class="form-check-input" id="exampleCheck1"   v-model="aptitude.check" @change="check(aptitude)">
								<label class="form-check-label" for="exampleCheck1">{{aptitude.nom}}</label>
							</div>
						</div>
						<button type="button" class="btn btn-primary m-3 " @click="saveUser" data-dismiss="modal" aria-label="Close">valider</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal User -->
		<div class="modal fade" id="UserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title" id="exampleModalLabel">Nouveau Utilisateur</h3>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div>
							 <div class="form-group">
								<label for="exampleInputEmail1">Nom</label>
									<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entrer un nom" v-model="newUser.nom">

								</div> 
								<div class="form-group">
									<label for="exampleInputEmail1">prenom</label>
									<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entrer un prénom" v-model="newUser.prenom">
								</div>
								<div class="form-group">
									<label for="exampleInputEmail1">e-mail</label>
									<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entrer une adresse mail" v-model="newUser.email">
								</div><div class="form-group">
									<label for="exampleInputEmail1">mot de passe</label>
									<input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entrer un mot de passe" v-model="newUser.mdp">
								</div>
								<div class="form-group">
									<label for="exampleFormControlSelect2">Profil</label>
									<select class="form-control" id="exampleFormControlSelect2" v-model="newUser.Profils_id">
										<option v-for="profil in profils" :value="profil.id" :key=profil.id> {{profil.nom}} </option>
									</select>
								</div>
								<div class="form-group">
									<label for="exampleFormControlSelect2">Grade</label>
									<select class="form-control" v-model="newUser.Grades_id">
										<option v-for="grade in grades" :value="grade.id" :key=grade.id> {{grade.nom}}</option>
									</select>
								</div>

								</div>
							
							<button type="button" class="btn btn-primary m-3" @click="saveUser" data-dismiss="modal" aria-label="Close">valider</button>
							<button type="button" class="btn btn-primary m-3 " data-dismiss="modal" aria-label="Close" data-toggle="modal" data-target="#aptitudeModal" @click="showModal('aptitudeModal')">Ajouter aptitudes</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</app-layout>
</template>
<script >
	import axios from 'axios'
	import moment from 'moment'
	import AppLayout from '../App.vue'
	import caserneBlock from '../components/caserneBlock'
  	
	export default {
		components: {
			AppLayout,
			caserneBlock,
		},
  		data: function(){
  			return {
  				token :localStorage.token? localStorage.token: sessionStorage.token,
  				casernes : [],
  				Users : [],
  				caserne : {
  					nom : "",
  					adresse : "",
  					responsable : 0,
  				},
  				newUser : {

  				},
  				newaptitudes:[],
  				profils:[],
  				grades:[],
  				aptitudes:[],
  				infoUser :localStorage.user ?JSON.parse(localStorage.user) :"",
  				message : "",
  				supprCaserneId : 0,
  			}
  		},
  		methods : {
  			saveCaserne : function(){
  				axios.post(`http://localhost:8000/casernes?access_token=` +this.token+
  					`&nom=`+this.caserne.nom+
  					`&adresse=`+this.caserne.adresse+
  					`&responsable=`+this.caserne.responsable)
				  .then(response => {

					if(response.data == "erreur"){
					  this.message ="erreur";
					}else{
					  location.reload(false);
					}
				  })
  			},
  			saveUser: function(){
  				axios.post(`http://localhost:8000/user?access_token=` +this.token+
  					`&nom=`+this.newUser.nom+
  					`&prenom=`+this.newUser.prenom+
  					`&email=`+this.newUser.email+
  					`&mdp=`+this.newUser.mdp+
  					`&Profils_id=`+this.newUser.Profils_id+
  					`&Grades_id=`+this.newUser.Grades_id+
  					`&avatar=images/default.png`)
				  .then(response => {

					if(response.data == "erreur"){
					  this.message ="enregistrement echouer";
					}else{
						this.newUser.id = response.data.insertId
					  this.Users.push(this.newUser);
					  for (var i = 0; i < this.newaptitudes.length; i++) {
					  	var Aptitudes_id =this.newaptitudes[i].id
						  	axios.post(`http://localhost:8000/users/aptitudes?access_token=`+this.token
						  		+`&Aptitudes_id=`+Aptitudes_id
						  		+`&Users_id=`+this.newUser.id)
					  	.then(response2 =>{
					  		if(response.data == "erreur"){
								this.message ="ajout d'aptitudes echouer";
							}
					  	})
					  }

					}
				  })
  			},
  			suppressionCaserne : function(){
  				axios.delete(`http://localhost:8000/casernes/`+this.supprCaserneId+`?access_token=` +this.token)
		          .then(response => {

		            if(response.data !== "caserne supprimé"){
		              this.message = response.data;
		            }else{
		            	location.reload(false);
		            }
		          })
  			},
  			check: function(aptitude){
  				console.log(aptitude.check)
  				if(aptitude.check === true){
  					this.newaptitudes.push(aptitude)
  				}else{
  					var index = this.newaptitudes.indexOf(this.aptitude);
  					this.newaptitudes.splice(index, 1);
  				}
				},
				
				showModal: function(modal){
					$('#'+modal).modal({show: true});
				}

  		},
  		created : function () {
			axios.get(`http://localhost:8000/casernes?access_token=` +this.token)
				.then(response => {

				if(response.data == "erreur"){
					this.message ="erreur";
				}else{
					this.casernes = response.data;
				}
			})

		  axios.get(`http://localhost:8000/users?access_token=` +this.token)
		  .then(response => {

			if(response.data == "erreur"){
			  this.message ="erreur";
			}else{
			  this.Users = response.data;
			}
		  })
		   axios.get(`http://localhost:8000/users/profils?access_token=` +this.token)
		  .then(response => {

			if(response.data == "erreur"){
			  this.message ="erreur";
			}else{
			  this.profils = response.data;
			}
		  })
		   axios.get(`http://localhost:8000/users/grades?access_token=` +this.token)
		  .then(response => {

			if(response.data == "erreur"){
			  this.message ="erreur";
			}else{
			  this.grades = response.data;
			}
		  })
			axios.get(`http://localhost:8000/users/aptitudes?access_token=` +this.token)
		  .then(response => {

			if(response.data == "erreur"){
			  this.message ="erreur";
			}else{
			  this.aptitudes = response.data;
			  for (var i = 0; i < this.aptitudes.length; i++) {
			  	this.aptitudes[i].check = false;
			  }
			  console.log(this.aptitudes)
			}
		  })
  		
  		},


  	}
</script>
