<template>
    <app-layout :token="token" >
        <h2 class='text-light mt-3'>Utilisateurs</h2>
        <div v-for="User in Users" :key="User.id">
            
                <div class=" p-2 col-10 col-md-8 text-light mx-auto bg-light m-3 rounded">
                    <v-link :href="'Utilisateur/'+User.id">
                        <p>{{User.nom}} {{User.prenom}}</p>
                    </v-link>
                </div>
            
        </div>
    </app-layout>
</template>
<script>
    import axios from 'axios'
    import moment from 'moment'
    import AppLayout from '../App.vue'
    import equipeBlock from '../components/equipeBlock'
    import VLink from '../components/VLink.vue'
  	
	export default {
		components: {
            AppLayout,
            VLink,
	    },
	    data: function () {
	    	return {
                Users : [],
                Caserne_id : localStorage.Caserne,
	    		token : localStorage.token? localStorage.token: sessionStorage.token,
	    		infoUser :localStorage.user ?JSON.parse(localStorage.user) :"",
            }
        },
        mounted : function(){
            axios.get(`http://localhost:8000/users?access_token=` +this.token)
		    .then(response => {

			if(response.data == "erreur"){
			  this.message ="erreur";
			}else{
			  this.Users = response.data;
			}
		  })
        }
    }

</script>
