<template>
	<app-layout>
		<h2 class="text-white text-left pl-5 my-md-5">Equipes<button v-if="infoUser.Profils_id===2||infoUser.Profils_id===1" class="btn bg-transparent ml-5 " @click="showModal('EquipeModal')"><i class="fas fa-plus-circle text-right text-secondary" data-toggle="modal" data-target="#EquipeModal" ></i></button>
		<button v-if="infoUser.Profils_id === 1||infoUser.Profils_id === 2||infoUser.Profils_id === 3" class="btn bg-transparent ml-5 " @click="showModal('EditEquipeModal')"><i class="fas fa-edit text-right text-secondary" data-toggle="modal" data-target="#EditEquipeModal" ></i></button>
	</h2>
			
		<equipe-block 

			v-for="(equipe, i) in equipes" 
			:equipe="equipe"
			:key="i+'block'+equipe.id"

			>
				
		</equipe-block>

		<button v-if="infoUser.Profils_id === 2||infoUser.Profils_id === 3||infoUser.Profils_id === 1"class="btn btn-danger  d-block m-5" @click="showModal('SuppressionEquipe')">Suppression d'une equipe</button>

		 <button class="btn btn-secondary col-3 m-auto d-block" @click="prevPage">Retour</button> 
		<!--Suppression equipe modale-->
		<div class="modal fade" id="SuppressionEquipe" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title" id="exampleModalLabel">Suppression d'equipe</h3>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div>
							<div class="form-group">
								<label for="exampleFormControlSelect2">Equipe a Supprimer</label>
								<select class="form-control" id="exampleFormControlSelect2" v-model="EditEquipe.id">
									<option v-for="(equipe, i) in equipes" :key="i+'select'+equipe.id" :value="equipe.id"> Equipe {{equipe.numero}}</option>
								</select>
								<button class="btn btn-secondary" @click="selectEquipe()">select</button>
							</div>
						 	<div class="form-group">
								<label for="exampleInputEmail1">numero</label>
									<input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  v-model="EditEquipe.numero">

							</div> 
							<div class="form-group">
								<label for="exampleFormControlSelect2">Responsable équipe</label>
								<select class="form-control" id="exampleFormControlSelect2" v-model="EditEquipe.Responsable_id">
									<option v-for="User in Users" v-if="User.Profils_id<=3" :value="User.id" :key="User.id"> {{User.nom}} {{User.prenom}}</option>
									<option value = "NULL">aucun</option>
								</select>
							</div>

							</div>
							
							<button type="button" class="btn btn-primary m-3 " @click="suppression(EditEquipe.id)" data-dismiss="modal" aria-label="Close">valider</button>
						</div>
					</div>
				</div>
			</div>

		<!-- Modal EditEquipe -->
		<div class="modal fade" id="EditEquipeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title" id="exampleModalLabel">Nouvelle Equipe</h3>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div>
							<div class="form-group">
								<label for="exampleFormControlSelect2">Equipe a modifier</label>
								<select class="form-control" id="exampleFormControlSelect2" v-model="EditEquipe.id">
									<option v-for="(equipe, i) in equipes" :key="i+'select'+equipe.id" :value="equipe.id"> Equipe {{equipe.numero}}</option>
								</select>
								<button class="btn btn-secondary" @click="selectEquipe()">select</button>
							</div>
						 	<div class="form-group">
								<label for="exampleInputEmail1">numero</label>
									<input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  v-model="EditEquipe.numero">

							</div> 
							<div class="form-group">
								<label for="exampleFormControlSelect2">Responsable équipe</label>
								<select class="form-control" id="exampleFormControlSelect2" v-model="EditEquipe.Responsable_id">
									<option v-for="User in Users" v-if="User.Profils_id<=3" :value="User.id" :key="User.id"> {{User.nom}} {{User.prenom}}</option>
									<option value = "NULL">aucun</option>
								</select>
							</div>

							</div>
							
							<button type="button" class="btn btn-primary m-3 " @click="updateEquipe" data-dismiss="modal" aria-label="Close">valider</button>
						</div>
					</div>
				</div>
			</div>
			<!-- Modal Equipe -->
		<div class="modal fade" id="EquipeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title" id="exampleModalLabel">Nouvelle Equipe</h3>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div>
							 <div class="form-group">
								<label for="exampleInputEmail1">numero</label>
									<input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  v-model="newEquipe.numero">

								</div> 
								<div class="form-group">
									<label for="exampleFormControlSelect2">Responsable équipe</label>
									<select class="form-control" id="exampleFormControlSelect2" v-model="newEquipe.responsable_id">
										<option v-for="User in Users" v-if="User.Profils_id<=3" :value="User.id" :key="User.id"> {{User.nom}} {{User.prenom}}</option>
										<option value = "NULL">aucun</option>
									</select>
								</div>

								</div>
							
							<button type="button" class="btn btn-primary m-3 " @click="saveEquipe" data-dismiss="modal" aria-label="Close">valider</button>
						</div>
					</div>
				</div>
			</div>
	</app-layout>
</template>
<script >
	import axios from 'axios'
    import moment from 'moment'
    import AppLayout from '../App.vue'
    import equipeBlock from '../components/equipeBlock'
  	
	export default {
		components: {
	    	AppLayout,
	    	equipeBlock,
	    },
	    data: function () {
	    	return {
	    		equipes : [],
	    		newEquipe : {
	    			numero : 0,
	    			responsable_id : "",
	    		},
	    		EditEquipe : {
	    			id : 0,
	    			numero : 0,
	    			Responsable_id : 0,
	    		},
	    		Users : [],
	    		profils:[],
  				grades:[],
  				aptitudes:[],
	    		Caserne_id : localStorage.Caserne,
	    		token : localStorage.token? localStorage.token: sessionStorage.token,
	    		infoUser :localStorage.user ?JSON.parse(localStorage.user) :"",
	    	}
	    },
	    methods : {
	    	prevPage : function(){
				window.history.go(-1)
			},
	    	saveEquipe : function(){
	    		console.log(`http://localhost:8000/equipes?access_token=` +this.token
	    		+`&Casernes_id=`+this.Caserne_id
	    		+`&numero=`+this.newEquipe.numero
	    		+`&responsable=`+this.newEquipe.responsable_id)
	    		axios.post(`http://localhost:8000/equipes?access_token=` +this.token
	    		+`&Casernes_id=`+this.Caserne_id
	    		+`&numero=`+this.newEquipe.numero
	    		+`&responsable=`+this.newEquipe.responsable)
	          .then(response => {

		            if(response.data == "erreur"){
		              this.message ="erreur";
		            }else{
		            	this.newEquipe.id = response.data.id
		              this.equipes.push(this.newEquipe);
		            }
		          })
	    	},
	    	updateEquipe : function(){
	    		axios.put(`http://localhost:8000/equipes/`+this.EditEquipe.id+`/update?access_token=` +this.token
	    		+`&Casernes_id=`+this.Caserne_id
	    		+`&numero=`+this.EditEquipe.numero
	    		+`&responsable=`+this.EditEquipe.Responsable_id)
	          .then(response => {

		            if(response.data == "erreur"){
		              this.message ="erreur";
		            }else{
		            	location.reload(false);
		            }
		          })
	    	},
	    	suppression : function(id){
	    		axios.delete(`http://localhost:8000/equipes/`+id+`?access_token=` +this.token)
		          .then(response => {

		            if(response.data == "erreur"){
		              this.message ="erreur";
		            }else{
		            	location.reload(false);
		            }
		          })
	    	},
	    	selectEquipe: function(){
	    		for (var i = 0; i < this.equipes.length; i++) {
	    			if(this.equipes[i].id === this.EditEquipe.id){
	    				this.EditEquipe.numero = this.equipes[i].numero;
	    				this.EditEquipe.Responsable_id = this.equipes[i].Responsable_id;
	    				break;
	    			}
	    		}
			},
			showModal: function(modal){
				$('#'+modal).modal({show: true});
			},
	    },
	    mounted : function(){
			
			axios.get(`http://localhost:8000/equipes?access_token=` +this.token
			+`&Casernes_id=`+this.Caserne_id)
			.then(response => {

				if(response.data == "erreur"){
					this.message ="erreur";
				}else{
					this.equipes = response.data;
				}
			})
		
          axios.get(`http://localhost:8000/users/caserne/`+this.Caserne_id+`?access_token=` +this.token)
          .then(response => {

            if(response.data == "erreur"){
              this.message ="erreur";
            }else{
              this.Users = response.data;
            }
          })
           axios.get(`http://localhost:8000/users/profils?access_token=` +this.token)
          .then(response => {

            if(response.data == "erreur"){
              this.message ="erreur";
            }else{
              this.profils = response.data;
            }
          })
           axios.get(`http://localhost:8000/users/grades?access_token=` +this.token)
          .then(response => {

            if(response.data == "erreur"){
              this.message ="erreur";
            }else{
              this.grades = response.data;
            }
          })
            axios.get(`http://localhost:8000/users/aptitudes?access_token=` +this.token)
          .then(response => {

            if(response.data == "erreur"){
              this.message ="erreur";
            }else{
              this.aptitudes = response.data;
              for (var i = 0; i < this.aptitudes.length; i++) {
              	this.aptitudes[i].check = false;
              }
            }
          })
	    },
	}
</script>