<template>
	<app-layout :infoUser="infoUser" >

		<div class="my-3 px-md-3 d-flex flex-row justify-content-between  bg-secondary ">
			<div class="row">
				<button class="btn btn-light my-2 mx-4 filtre mr-auto d-inline-block"> liste</button><button class="btn btn-light my-2 mx-4 filtre d-inline-block">calendrier
				</button>
			</div>
			<div class="row my-2 mx-4">
				<div class="input-group">
				<p class="px-2 mb-0 " style="line-height: 38px;">Tri : </p>
				<select class="custom-select" id="selectTri">
					<option value="2">ajout recent</option>
					<option value="3">date</option>
				</select>
				</div>
			</div>
		</div>
	
	
			<!-- Button trigger modal -->
		<button type="button" class="btn btn-secondary col-10 col-md-8 mx-auto d-block" data-toggle="modal" data-target="#filtreModal">
		  Filtre
		</button>

		<!-- Modal -->
		<div class="modal fade" id="filtreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Ajouter un filtre</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <div class="btn btn-info" @click="filtre_demande" :class="btnFiltre_demande.active ? 'btnActive' : '' ">filtre demande</div>
		<div class="btn btn-info" @click="filtre_proposition" :class=" btnFiltre_proposition.active ? 'btnActive' : '' ">filtre proposition</div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>

		<div class="col-10 col-md-8 my-3 mx-auto">
			<div v-if="btnFiltre_demande.active" class="btn btn-info" @click="filtre_demande()" :class="btnFiltre_demande.active ? 'btnActive' : '' ">filtre demande</div>
			<div v-if="btnFiltre_proposition.active" class="btn btn-info" @click="filtre_proposition()" :class=" btnFiltre_proposition.active ? 'btnActive' : '' ">filtre proposition</div>

		</div>
			
			
		 <post-small
		 v-if ="post.display == true"

		 v-for="post in posts"
		  
	      v-bind:post="post"
	      v-bind:key="post.id"
      

		></post-small>
	</app-layout>
	
</template>

<script type="text/javascript">
	import axios from 'axios'
  	import AppLayout from '../App.vue'
  	import moment from 'moment'
  import postSmall from '../components/postSmall'

  export default {
    components: {
      AppLayout,
      postSmall
    },
    data: function(){
	    return {
			infoUser :localStorage.user ?JSON.parse(localStorage.user) :"",
			token : localStorage.token? localStorage.token: sessionStorage.token,
			posts : [],
			Caserne_id : localStorage.Caserne,		
			message : {},
			btnFiltre_demande : {
				active : false,
			},
			btnFiltre_proposition : {
				active : false,
			},
	    }
	},
	methods : {
		filtre_demande : function(){
        if(this.btnFiltre_demande.active){
          this.btnFiltre_demande.active = false;
          for (var i = 0; i < this.posts.length; i++) {
            if(this.posts[i].Sujets.nom == "Demande de remplacement"){
            }else{
				this.posts[i].display = true;
			}
          }
        }else {
          for (var i = 0; i < this.posts.length; i++) {
            if(this.posts[i].Sujets.nom == "Demande de remplacement"){
                
            }else{
				this.posts[i].display = false;
			}
          }
          this.btnFiltre_demande.active = true;
        }
      },

      filtre_proposition : function(){
        if(this.btnFiltre_proposition.active){
          this.btnFiltre_proposition.active = false;
          for (var i = 0; i < this.posts.length; i++) {
            if(this.posts[i].Sujets.nom === "Proposition de remplacement"){
            }else{
				this.posts[i].display = true;
			}
          }
        }else{
          for (var i = 0; i < this.posts.length; i++) {
			  console.log('ok')
            if(this.posts[i].Sujets.nom === "Proposition de remplacement"){
              
            }else{
				this.posts[i].display = false;
			}
          }
          this.btnFiltre_proposition.active = true;
        }
      },
    },

    created : function(){
		axios.get(`http://localhost:8000/post?access_token=` +this.token
			+`&Casernes_id=`+this.Caserne_id)
		.then(response => {

			if(response.data == "erreur"){
				this.message.success ="erreur";
			}else{

				this.posts = response.data;
				for (var i = 0; i < this.posts.length; i++) {
					this.posts[i].display = true;
				}
				console.log(this.posts)
			}
		})
    }
  
	}
</script>