/* eslint-disable */

<template>
  	<app-layout :infoUser="infoUser" >
   			<!-- Button trigger modal -->
		<button type="button" class="btn btn-secondary col-10 col-md-8 mx-auto d-block" data-toggle="modal" data-target="#filtreModal">
		Filtre
		</button>
		<!-- Modal -->
		<div class="modal fade" id="filtreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Ajouter un filtre</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="btn btn-info" @click="filtre_demande" :class="btnFiltre_demande.active ? 'btnActive' : '' ">filtre demande</div>
						<div class="btn btn-info" @click="filtre_proposition" :class=" btnFiltre_proposition.active ? 'btnActive' : '' ">filtre proposition</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-10 col-md-8 my-3 mx-auto">
			<div v-if="btnFiltre_demande.active" class="btn btn-info" @click="filtre_demande" :class="btnFiltre_demande.active ? 'btnActive' : '' ">filtre demande</div>
			<div v-if="btnFiltre_proposition.active" class="btn btn-info" @click="filtre_proposition" :class=" btnFiltre_proposition.active ? 'btnActive' : '' ">filtre proposition</div>
		</div>
			
			
		<post-small
			v-if ="post.display == true"

			v-for="post in posts"

			v-bind:post="post"
			v-bind:key="post.id"


		></post-small>
	</app-layout>
</template>

<script>
	import axios from 'axios'
	import AppLayout from '../App.vue'
	import moment from 'moment'
	import postSmall from '../components/postSmall'

	export default {
	components: {
		AppLayout,
		postSmall
	},
	data: function(){
		return {
			infoUser :localStorage.user ?JSON.parse(localStorage.user) :"",
			posts : [],
				
			message : {},
			btnFiltre_demande : {
				active : false,
			},
			btnFiltre_proposition : {
				active : false,
			},
			token : localStorage.token? localStorage.token: sessionStorage.token,
		}
	},
	methods : {
	filtre_demande : function(){
        if(this.btnFiltre_demande.active){
          this.btnFiltre_demande.active = false;
          for (var i = 0; i < this.posts.length; i++) {
            if(this.posts[i].Sujets.nom == "Demande de remplacement"){
            }else{
				this.posts[i].display = true;
			}
          }
        }else {
          for (var i = 0; i < this.posts.length; i++) {
            if(this.posts[i].Sujets.nom == "Demande de remplacement"){
                
            }else{
				this.posts[i].display = false;
			}
          }
          this.btnFiltre_demande.active = true;
        }
      },

      filtre_proposition : function(){
        if(this.btnFiltre_proposition.active){
          this.btnFiltre_proposition.active = false;
          for (var i = 0; i < this.posts.length; i++) {
            if(this.posts[i].Sujets.nom === "Proposition de remplacement"){
            }else{
				this.posts[i].display = true;
			}
          }
        }else{
          for (var i = 0; i < this.posts.length; i++) {
			  console.log('ok')
            if(this.posts[i].Sujets.nom === "Proposition de remplacement"){
              
            }else{
				this.posts[i].display = false;
			}
          }
          this.btnFiltre_proposition.active = true;
        }
      },
	},

	created : function(){
		axios.get(`http://localhost:8000/post/` +this.infoUser.id+`?access_token=` +this.token)
		.then(response => {

			if(response.data == "erreur"){
				this.message.success ="erreur";
			}else{

				this.posts = response.data;
				for (var i = 0; i < this.posts.length; i++) {
					this.posts[i].display = true;
					this.posts[i].User = [];
				}
				console.log(this.posts)
			}
		})
	}
}
  
</script>