<template>
	<app-layout :infoUser="infoUser" >
		<div class="m-3 text-white text-left col-md-8 col-10 mx-auto mb-5">

			<p class="text-white">Email : <span class="text-white">{{infoUser.email}}</span></p>
			<input class="mb-3" type="text" v-if="isEditing" v-model="updates.email">
			<p v-show="message.email" class="bg-red text-white col-6 text-center rounded ">{{message.email}}</p>
			<p class="text-white">Mot de passe :  <span class="text-white">********</span> </p>
			<input class="mb-3" type="password" v-if="isEditing" v-model="updates.password">
			<p class="text-white">grade : <span class="text-white">{{infoUser.Grade.nom}}</span></p>

		</div>
		 <button v-if="!isEditing" class="btn btn-secondary col-6 mx-auto" data-toggle="modal" data-target="#confirmationModal" >Modifier Information</button> 
		 <button v-if="isEditing" class="btn btn-secondary col-6 mx-auto" @click="update()" >Valider</button> 

		 <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Confirmation de mot de passe</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
							<p class="text-center">Veuillez confirmer votre mot de passe</p>
							<input type="password" v-model="pass">
							<button type="button" class="btn btn-primary m-3" @click="edit" data-dismiss="modal" aria-label="Close">valider</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</app-layout>
</template>
<script>
	import axios from 'axios'
	import AppLayout from '../App.vue'
	import moment from 'moment'

	export default {
	components: {
		AppLayout,
	},
	data: function(){
		return {
			infoUser : {
				
			},
			updates : {},
			pass : "",
			isEditing: false,
			message : "",
			token : localStorage.token? localStorage.token: sessionStorage.token,
			infoUser :localStorage.user ?JSON.parse(localStorage.user) :"",
		}
	},
	methods : {
		checkPass: function(){
			//TODO COMPLETE
			return true
		},
		edit : function(){
			if(this.checkPass()){
				this.isEditing = true;
				console.log("ok")
			}
		},
		update : function(){
			var User = this.infoUser.id;
			var regExp= new RegExp(/^[a-z0-9\.\-_]+@[a-z0-9\-_]+\.[a-z]{2,4}/);
			if (!regExp.test(this.updates.email)) {
				this.message = "ce n'est pas un email";
				return "erreur"
			}
			axios.put(`http://localhost:8000/user/` +User+`/update?access_token=` +this.token+
			`&email=`+ this.updates.email +
			`&mdp=`+this.updates.password)
		.then(response => {

			if(response.data == "erreur"){
				this.message ="erreur";
			}else{
				axios.get(`http://localhost:8000/user/` +User +`?access_token=` +this.token)
				.then(response => {

					if(response.data == "erreur"){
						this.message ="erreur";
					}else{

						localStorage.setItem('user',JSON.stringify(response.data));
						this.infoUser = response.data;
						this.isEditing = false;
						this.message = {};
						
					}
				})
			}
		})
		}
	},
}
</script>
<style scoped>
p{
	font-size : 20px;
}
</style>