/* eslint-disable */

<template>
	<app-layout :infoUser="infoUser">
	<form class="my-md-5 bloc col-md-8 col-10 mx-auto rounded p-3" >
			<h1 class="text-center m-md-3">Nouveau Post</h1>
			<p v-if="message.success" class="text-center text-white my-md-5 my-3 mx-auto bg-success  col-6 p-1 border">{{message.success}}</p> 
			<div class="form-group col-md-10 mx-auto">
				<label class="px-3" >Sujet</label>
				<select v-model="newPost.sujet" class="form-control " id="Select1">
					<option value="1">Demande de remplacement</option>
					<option value="2">Proposition de remplacement</option>
				</select>
				<label class="px-3 mt-3">Date</label>
				<div class="form-group">
				    <input v-model="newPost.date" type="text" class="form-control"  id="date" >
				</div>
				<div class="row ">
					<p class="mt-md-3 mb-3 text-center col-12"> Horraire </p>
					<div class="col-6">
							
							
						<div class="form-group ">					
							<div class="form-group">
							    <label for="time" class="px-3" >debut</label>
							    <input v-model="newPost.horaireDebut" type="text"  class="form-control" id="timeD" >
							</div>
						</div>
					</div>
					<div class="col-6">						
						<div class="form-group">
							<div class="form-group">
							    <label for="time" class="px-3 text-right col-12" >fin</label>
							    <input v-model="newPost.horaireFin" type="text"  class="form-control" id="timeF" >
							</div>
						</div>
					</div>
					<div  @click="save()" class="btn bg-red mt-md-5 mt-3 mx-auto">Envoyer</div>
				</div>
			</div>
		</form>
		 
	</app-layout>
</template>

<script>
	import axios from 'axios'
  	import AppLayout from '../App.vue'
  	import moment from 'moment'

  export default {
  	props : {
  		props : Object,
  	},
  	data: function(){
	    return {
	    	infoUser :localStorage.user ?JSON.parse(localStorage.user) :"",
			newPost : {
				sujet : "",
				date : "dd/mm/aaaa",
				horaireDebut: "HH:MM",
				horaireFin: "HH:MM",
			},
	    	message : {},
	    	Caserne_id : localStorage.Caserne,
	    	token : localStorage.token? localStorage.token: sessionStorage.token,
	    }
	},
    components: {
      AppLayout
    },
    methods: {

    	verifyDate: function(date){

    		var regExp = new RegExp(/^[0-9]{1,2}[\:\-\/ ][0-9]{1,2}[:\-\/ ]{0,1}[0-9]{0,4}/);
    		if (regExp.test(date)){
    			var re = new RegExp (/[:\-\/ ]/)
	    		date = date.split(re);
	    		var jour = date[0];
	    		var mois = date[1];
	    		var annee = date[2];

	    		if(jour>31 || jour<0){
	    			return false
	    		}
	    		if (mois>12 || mois<0){
	    			return false
	    		}
				if  (annee.length == 1 || annee.length == 3 ){
	    			return false
	    		}

    			return true
    		
    		}else{
    			return false
    		}
    	},

    	verifyTime: function(time){
    		var regExp = new RegExp(/^[0-9]{1,2}[\:hH\-\/ ][0-9]{1,2}/);
    		if (regExp.test(time)){
    			return true
    		}else{
    			return false
    		}
    	},

    	convertDate :function (date, time){

    		var regExp = new RegExp (/[\:hH\-\/ ]/)
    		date = date.split(regExp);
    		var jour = date[0];
    		var mois = date[1];
    		var annee = date[2];
    		if (annee.length == 2){
    			annee = "20" + annee 
    		}

    		var date = annee +"-"+ mois +"-"+jour;

    		time = time.split(regExp);

    		if(time[0].length == 1){
    			time[0] = "0" + time[0]
    		}
    		if(time[1].length == 1){
    			time[1] = "0" + time[1]
    		}
    		time = time[0]+":"+time[1]+":00"

    		var datetime = date + " " + time
    		return datetime

    	},

	    save: function () {
			var date = moment().locale('fr').format("YYYY-M-D HH:mm");
	      
	      // verification format date et time
	      if(!this.verifyDate(this.newPost.date)){
	      	console.log("erreur")
	      	this.message.success ="mauvais format de date"
	      	this.newPost = {
			        sujet : "",
			        date : "dd/jj/aaa",
			        horaireDebut: "HH:MM",
			        horaireFin: "HH:MM",
		      	}
	      	return "erreur"
	      }
	       if(! this.verifyTime(this.newPost.horaireDebut) ){
	       	console.log("erreur")
	       	this.message.success ="mauvais format de horaire debut"
	       	this.newPost = {
			        sujet : "",
			        date : "dd/jj/aaa",
			        horaireDebut: "HH:MM",
			        horaireFin: "HH:MM",
		      	}
	      	return "erreur"
	      }
	       if(!this.verifyTime(this.newPost.horaireFin)){
	       	console.log("erreur")
	       	this.message.success ="mauvais format de horaire debut"
	       	this.newPost = {
			        sujet : "",
			        date : "dd/jj/aaa",
			        horaireDebut: "HH:MM",
			        horaireFin: "HH:MM",
		      	}
	      	return "erreur"
	      }
	     
	      
	      // changement du format date 
	      this.newPost.horaireDebut = this.convertDate(this.newPost.date,this.newPost.horaireDebut )
	      this.newPost.horaireFin  =this.convertDate(this.newPost.date,this.newPost.horaireFin )
			if (moment(this.newPost.horaireDebut).locale('fr').format("Unix Timestamp")>moment(this.newPost.horaireFin).locale('fr').format("Unix Timestamp")){
	       	this.message.success ="la date de debut ne peut pas etre plus grande que la date de fin"
	       	this.newPost = {
			        sujet : "",
			        date : "dd/jj/aaa",
			        horaireDebut: "HH:MM",
			        horaireFin: "HH:MM",

				}
				return "erreur"
			}

	      //puis sauvgarde dans la base de donnée grace à une api

	      axios.post(`http://localhost:8000/post/ajouter?access_token=` +this.token
	      	+`&horaire_debut=`+this.newPost.horaireDebut 
	        +`&Users_id=`+this.infoUser.id
	        +`&horaire_fin=`+this.newPost.horaireFin
	        +`&time=`+date
	        +`&sujet_id=`+this.newPost.sujet
	        +`&Casernes_id=`+this.Caserne_id) .then(response => {
	        	if(response.data == "erreur"){
	        		this.message.success ="erreur";
	        	}else{
	        		 this.message.success ="post ajouté";
	        	}

	            

		        this.newPost = {
			        sujet : "",
			        date : "dd/jj/aaa",
			        horaireDebut: "HH:MM",
			        horaireFin: "HH:MM",
		      	}
	     	})
	        // si pas de reponse de l'api => this.message.success ="erreur";

	    },
	 
	}

  }
</script>