<template>
    <app-layout :token="token" >
        
        <p class="text-light mt-5">{{User.nom}} {{User.prenom}}</p>
        <p class="text-light"> {{User.Grade.nom}}</p>
        <h3 class="text-light">Equipe :</h3>
        <div class="mt-4" v-for="equipe in User.Equipe" :key="equipe.id">
           <p class="text-light"> Equipe n°{{equipe.numero}} </p>
           <p class="text-light"> de la casene {{equipe.Caserne.nom}} <p class="small text-light"> {{equipe.Caserne.adresse}}</p>
        </div>

        <p v-if="message" class="text-center text-white my-md-5 my-3 mx-auto col-6 p-1 border">{{message}}</p> 
        <button class="btn btn-light mx-auto" @click="showModal('UserCasernesModal')"> ajouter une equipe</button>

        <button v-if="infoUser.Profils_id === 2||infoUser.Profils_id === 3||infoUser.Profils_id === 1"class="btn btn-light ml-5 " @click="showModal('EditUserModal')"> Modifier </i></button>

				<button v-if="infoUser.Profils_id === 2||infoUser.Profils_id === 3||infoUser.Profils_id === 1"class="btn btn-danger ml-5 " @click="showModal('SuppressionUserModal')">Suppression</button>

        <!-- Modal Casernes -->
		<div class="modal fade" id="UserCasernesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title" id="exampleModalLabel">Nouvelle Equipe</h3>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div>

							
							<button v-for="caserne in Casernes" :key="caserne.id" type="button" class="btn m-3 " @click="getEquipe(caserne.id)" data-dismiss="modal" aria-label="Close">
                                <caserne-block 
                                :caserne="caserne"
                                :key="caserne.id"
                                >  
                                </caserne-block>

                            </button>
						</div>
					</div>
				</div>
			</div>
		</div>
         <!-- Modal Equipe -->
		<div class="modal fade" id="AddEquipeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title" id="exampleModalLabel">Nouvelle Equipe</h3>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div>

							
							<button v-for="equipe in Equipes" :key="equipe.id" type="button" class="btn m-3 " @click="addEquipe(equipe.id)" data-dismiss="modal" aria-label="Close">
                                <equipe-block 
                                :equipe="equipe"
                                :key="equipe.id"
                                >  
                                </equipe-block>

                            </button>
						</div>
					</div>
				</div>
			</div>
		</div>
        	<!-- Edit aptitude Modal -->
		<div class="modal fade" id="EditaptitudeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title" id="exampleModalLabel">Ajout aptitudes</h3>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div v-for="aptitude in aptitudes" :key="aptitude.id">
							 <div class="form-check my-3">
								<input type="checkbox" class="form-check-input" id="exampleCheck1"   v-model="aptitude.check" @change="checkEdit(aptitude)">
								<label class="form-check-label" for="exampleCheck1">{{aptitude.nom}}</label>
							</div>
						</div>
						<button type="button" class="btn btn-primary m-3 " @click="updateUser" data-dismiss="modal" aria-label="Close">valider</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal Edit User -->
		<div class="modal fade" id="EditUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title" id="exampleModalLabel">Modification Utilisateur</h3>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div>
							 <div class="form-group">
								<label for="exampleInputEmail1">Nom</label>
									<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entrer un nom" v-model="User.nom">

								</div> 
								<div class="form-group">
									<label for="exampleInputEmail1">prenom</label>
									<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entrer une adresse" v-model="User.prenom">
								</div>
								<div class="form-group">
									<label for="exampleInputEmail1">e-mail</label>
									<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entrer une adresse" v-model="User.email" disabled="true">
								
								<div class="form-group">
									<label for="exampleFormControlSelect2">Profil</label>
									<select class="form-control" id="exampleFormControlSelect2" v-model="User.Profils_id">
										<option v-for="profil in profils" :value="profil.id" :key="profil.id"> {{profil.nom}} </option>
									</select>
								</div>
								<div class="form-group">
									<label for="exampleFormControlSelect2">Grade</label>
									<select class="form-control" v-model="User.Grades_id">
										<option v-for="grade in grades" :value="grade.id" :key="grade.id"> {{grade.nom}}</option>
									</select>
								</div>

								</div>
							
							<button type="button" class="btn btn-primary m-3" @click="updateUser" data-dismiss="modal" aria-label="Close">valider</button>
							<button type="button" class="btn btn-primary m-3 " data-dismiss="modal" aria-label="Close" data-toggle="modal" data-target="#EditaptitudeModal" @click="showModal('EditaptitudeModal')">Ajouter aptitudes</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		 <!-- Modal Suppression -->
		<div class="modal fade" id="SuppressionUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title" id="exampleModalLabel">Suppression</h3>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div>
							<p>Etes vous sûr de vouloir supprimer l'utilisateur {{User.nom}} {{User.prenom}} ?</p>
							<button type="button" class="btn btn-primary m-3" @click="SupprUser()" data-dismiss="modal" aria-label="Close">valider</button>
						</div>
					</div>
				</div>
			</div>
		</div>
    </app-layout>
</template>
<script>
    import AppLayout from '../App.vue'
    import axios from 'axios'
    import caserneBlock from '../components/caserneBlock'
    import VLink from '../components/VLink.vue'
    import equipeBlock from '../components/equipeBlock'

  export default {
    components: {
        AppLayout,
        caserneBlock,
        equipeBlock,
    },
    data : function(){
        return {
            User : {},
            Casernes : [],
            Equipes : [],
            profils : [],
            grades:[],
            aptitudes:[],
            newaptitudes:[],
            editAptitudes : [],
            Caserne_id : localStorage.Caserne,
            token : localStorage.token? localStorage.token: sessionStorage.token,
            infoUser :localStorage.user ?JSON.parse(localStorage.user) :"",
            message : "",
        }
    },
    methods :{
        getEquipe : function(Caserne_id){
            axios.get(`http://localhost:8000/equipes?access_token=` +this.token
			+`&Casernes_id=`+Caserne_id)
			.then(response => {

				if(response.data == "erreur"){
					this.message ="erreur";
				}else{
					this.Equipes = response.data;
                }
                 $('#AddEquipeModal').modal({show: true});
			})
        },
        showModal: function(modal){
            $('#'+modal).modal({show: true});
        },
        addEquipe: function(equipe_id){
             var regexp = new RegExp (/[0-9]+/)
		    var User_id =regexp.exec( window.location.pathname)[0];
            axios.post(`http://localhost:8000/users/equipe?Users_id=`+User_id
							+`&Equipes_id=`+equipe_id
							+`&access_token=` +this.token).then((resoponse)=>{
                                console.log(resoponse)
                                window.location.reload(false);
                            })
        },
        checkEdit: function(aptitude){
  				if(aptitude.check === true){
  						delete aptitude.check;
  						var index = this.editAptitudes.indexOf(aptitude);
  					if(index<0){
  						console.log("add")
  						aptitude.action= "add";
  						this.editAptitudes.push(aptitude)
  					}else if (this.editAptitudes[index].action === "delete") {
  						this.editAptitudes[index].action ="";
  						console.log("remouve delete")
  					}
  				}else{
  					delete aptitude.check;
  						var index = this.editAptitudes.indexOf(aptitude);
  						console.log(index)
  					if(index>0){
	  					
	  					if(this.editAptitudes[index].action === "add"){
	  						this.editAptitudes[index].action=""
	  						console.log("remouve add")
	  					}else{
	  						this.editAptitudes[index].action="delete";
	  						console.log("delete")
	  					}
  					}else{
  						for (var i = 0; i < this.editAptitudes.length; i++) {
  							if(this.editAptitudes[i].id === aptitude.id){
  								this.editAptitudes[i].action = "delete"
  								console.log("delete")
  							}
  						}
  						console.log("rien")
  					}
  				}
  				console.log("???")
  			},
  			
  			updateUser : function(){
  				axios.put(`http://localhost:8000/user/`+this.User.id+`/update?access_token=` +this.token+
  					`&nom=`+this.User.nom+
  					`&prenom=`+this.User.prenom+
  					`&email=`+this.User.email+
  					`&mdp=`+this.User.mdp+
  					`&Profils_id=`+this.User.Profils_id+
  					`&Grades_id=`+this.User.Grades_id+
  					`&avatar=images/default.png`)
				  .then(response => {

					if(response.data !== "erreur"){
                        this.message ="enregistrement echouer";
                        }else{
                            for (var i = 0; i < this.editAptitudes.length; i++) {
                                var Aptitudes_id =this.editAptitudes[i].id
                                console.log(Aptitudes_id);
                                if(this.editAptitudes[i].action==="add"){
                                    axios.post(`http://localhost:8000/users/aptitudes?access_token=`+this.token
                                        +`&Aptitudes_id=`+Aptitudes_id
                                        +`&Users_id=`+this.User.id)
                                .then(response2 =>{
                                    if(response.data == "erreur"){
                                        this.message ="ajout d'aptitude echouer";
                                    }
                                })
                                }else{
                                    if(this.editAptitudes[i].action==="delete"){
                                    axios.delete(`http://localhost:8000/user/`+this.User.id+`/aptitudes?access_token=`+this.token
                                        +`&Aptitudes_id=`+Aptitudes_id)
                                .then(response2 =>{
                                    if(response.data == "erreur"){
                                        this.message ="suppression d'aptitude echouer";
                                    }
                                })
                                }

                                }
                                
                            location.reload(false)
                        }
					 
						
					  

					}
				  })
				},
				SupprUser : function(){
					   axios.delete(`http://localhost:8000/user/`+this.User.id+`/delete?access_token=` +this.token)
		    .then(response => {
          if (response.data === 'Utilisateur supprimé'){
					 window.location.pathname = "/Utilisateur/GestionUtilisateur";
          }else{
            this.message = response.data;
          }
				})
				},
    },

    created : function(){
        var regexp = new RegExp (/[0-9]+/)
		var User_id =regexp.exec( window.location.pathname)[0];
         axios.get(`http://localhost:8000/user/`+User_id+`?access_token=` +this.token)
		    .then(response => {

			if(response.data == "erreur"){
			  this.message ="erreur";
			}else{
			  this.User = response.data;
			}
          })
          
        axios.get(`http://localhost:8000/casernes?access_token=` +this.token)
        .then(response => {
            if(response.data == "erreur"){
                this.message ="erreur";
            }else{
                this.Casernes = response.data;
            }
        })
         axios.get(`http://localhost:8000/users/profils?access_token=` +this.token)
          .then(response => {

            if(response.data == "erreur"){
              this.message ="erreur";
            }else{
              this.profils = response.data;
            }
          })
           axios.get(`http://localhost:8000/users/grades?access_token=` +this.token)
          .then(response => {

            if(response.data == "erreur"){
              this.message ="erreur";
            }else{
              this.grades = response.data;
            }
          })
            axios.get(`http://localhost:8000/users/aptitudes?access_token=` +this.token)
          .then(response => {

            if(response.data == "erreur"){
              this.message ="erreur";
            }else{
              this.aptitudes = response.data;
              console.log(this.aptitudes)
            }
          })
    }
}
</script>

