<template>
<div id="app">
	<header	class="row content m-0 p-0">
		<div v-if="data.connection" class="col-8 mx-auto">
			<div class="row my-md-5 my-3	">
				<p class="text-white text-center d-block col-6">{{data.User.nom}}</p>
				<p class="text-white text-center d-block col-6">{{data.User.prenom}}</p>
				
				<div class="col-6">
					<img src="assets/img/avatar.png" class="mx-auto my-md-4 d-block " >
				</div>
				<div class="col-6"></div>
			</div>
			
		</div>
	</header>
	<nav class="navbar navbar head-nav navbar-light	m-0 p-0">
		<div class="bg-red col-12 d-flex justify-content-between p-1 p-md-3">
			<button	class="navbar-toggler collapsed p-1" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" :disabled=" data.connection & caserne_id? false : true">
			<span class="navbar-toggler-icon"></span></button>
			<v-link	href="/" class="text-uppercase text-white text-right px-5">Nom de l'appli</v-link>
		</div>
		<div class="	navbar-collapse collapse ml-auto row" id="navbarTogglerDemo02" >
			<ul class="navbar-nav bg-secondary pt-nav mt-lg-0 mr-auto d-flex flex-column ">
				<div class="nav-user">
					<li class="nav-item ">
						<v-link class="nav-link py-2 p-0 p-md-3 border-bottom my-2" href="/MonCompte">Mon compte</v-link>
					</li>
					<li class="nav-item ">
						<div v-if="notificationLength > 0" class="notification bg-red rounded-circle">
							<p>{{data.notification.length}}</p>
						</div>
						<v-link class="nav-link py-2 p-0 p-md-3 border-bottom my-2" href="/MesPosts">Mes Posts</v-link>
					</li>
					<li class="nav-item ">
						<v-link class="nav-link py-2 p-0 p-md-3 my-2" href="/NouveauPost">Nouveau Post</v-link>
					</li>
				</div>
				<div id="separationMenu"	></div>
				<li class="nav-item ">
					<v-link class="nav-link py-2 p-0 p-md-3 my-2" href="/LesRemplacements">Les Remplacements</v-link>
				</li>
				<li class="nav-item mt-auto pb-3">
					<a class="nav-link px-3 btn bg-transparent" @click="logout" >Deconnexion</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="content py-3 ">
		
		<slot v-if="data.connection || location ==='/'" :props="data"></slot>
		<div v-else>
			<h2 class="text-white my-5">Veuillez vous connecter</h2>
			<v-link class="btn btn-secondary" href="/">Accueil</v-link>
		</div>
		
		<footer>
			
		</footer>
	</div>
</div>
</template>

<script>
import VLink from './components/VLink.vue'
import axios from 'axios'

export default {
	name: 'app',
	props : {
		infoUser : Object,
	},
	components: {
		VLink
	},
	data: function(){
		return {
			data : {
			User : localStorage.user ?JSON.parse(localStorage.user) :"",
			notification : [],
			connection : localStorage.token||sessionStorage.token? true:false,
			access_token: localStorage.token? localStorage.token: sessionStorage.token,

			},
			caserne_id :  localStorage.Caserne ? true : false,
			 message :"",
		}
	},
	computed : {
		notificationLength : function(){
			return this.data.notification.length
		},
		 location : function(){
			return window.location.pathname;
		},
	},
	methods : {
		logout : function(){
			 axios.post(`http://localhost:8000/logout?access_token=` +this.data.access_token)
				.then(response => {

				if(response.data == "erreur"){
					this.message ="erreur";
				}else{
					localStorage.clear(); 
					sessionStorage.clear(); 
					window.location.pathname = "/"
				}
				})
		}
	},
	mounted : function(){
		if(typeof(localStorage.user)==="undefined" ||localStorage.user==="undefined"){
		
			axios.get(`http://localhost:8000/user?access_token=` +this.data.access_token)
			.then(response => {

				if(response.data === "Unautorize"){
				this.data.connection = false;

				}else{
					this.data.connection = true;

					this.data.User = response.data;
					localStorage.setItem('user',JSON.stringify(response.data));
					window.location.reload(false);
					axios.get(`http://localhost:8000/user/` +this.data.User.id +`/notif?access_token=` +this.data.access_token)
					.then(response2 => {
						console.log("ok")
						if(response.data == "erreur"){
						this.message ="erreur";
						}else{
						this.data.notification = response.data;
						}
					})
				}
			})
		}else{
			 
			axios.get(`http://localhost:8000/user/` +this.data.User.id +`/notif?access_token=` +this.data.access_token)
				.then(response => {
					console.log("ok");
					if(response.data == "erreur"){
						this.message ="erreur";
					}else{
						this.data.notification = response.data;
						console.log(response)
					}
				})
		}


	},
	
}
</script>

<style>
#app {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
	margin-top: 60px;
}
*{
	margin: 0;
	padding: 0;
	color: #000;
}

.fas{
	font-size : 30px;
}


body{
	background: #161747;
}

header{
	height: 250px;
}

header img{
	max-height: 100px;
	max-width:100px;
}

nav.fixed {
	position:fixed;
	width:100%;
	top:0;
	left:0;
	z-index: 10;
}

.bloc {
	background: #E5E5E5;
	border-radius: 5px;
}

.bg-red{
	background: #B40000;
	color: #fff;
}

.text-red{
	color:#B40000;
}

.btnActive{
	background: yellow; 
}



.pt-nav{
	padding-top: 70px; 
}

.pt-scroll{
	padding-top: 370px !important; 
} 

ul.navbar-nav {
	position: fixed;
	top:0px;
	left: 0;
	height: 100vh;
	width: 150px
	
}
nav div.bg-red{
	z-index: 2;
}



#separationMenu {
	height: 5px;
	background: #fff;
	margin: 50px 0;
}

.margin-left{
	margin-left: 150px;
}

.text-blue{
	color : #3C91E6;
}

.text-purple{
	color : #BD2D87;
}

.bg-blue{
	background-color : #3C91E6;
}

.bg-purple{
	background-color : #BD2D87;
}

footer{
	height: 100px;
}

@media (max-width: 576px) {
	h1 {
	font-size: 24px;
	}

	header{
	height: 150px;
	}

	header img{
	max-height: 80px;
	max-width:80px;
	}



	.pt-nav{
	padding-top: 35px; 
	}



	.navbar-toggler-icon{
	height: 25px;
	}
	#separationMenu {
	margin: 30px 0;
	}

	.margin-left{
	margin-left: 110px;
	}

	ul.navbar-nav {
	width: 110px;
	font-size: 15px;
	}
	nav.fixed {
	position:relative;
	width:100%;
	top:0;
	left:0;
	z-index: 10;
}

}
</style>
